# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive details
*.tfvars


# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store